# deps
node_modules
# build
dist
dist-ssr
*.local
# logs
logs
*.log
npm-debug.log*
# editor
.DS_Store
.vscode/*
!.vscode/extensions.json
# vite
*.tsbuildinfo
# playwright
test-results/
playwright-report/
